.background{
background-color:#A9F5E1;
}

.font{
font-size:30px;
}

.title{
color:#F4FA58;
height:50px;
width:250px;
font-size:-20px;
text-align:center;
text-decoration:underline;
background-color:#424242;
margin-left:1000px;
position:fixed;
border:5px white outset;
border-radius:50px;
}

.nav{
height:50px;
width:350px;
font-size:-20px;
text-align:center;
text-decoration:underline;
background-color:#FFFFFF;
margin-left:620px;
position:fixed;
border:5px black outset;
border-radius:50px;
}

.chapterTitle{
text-align:left;
text-decoration:underline;
text-decoration:italic;
text-decoration:bold;
color:#DF0101
}

.speech{
font-style:italic;
text-decoration:bold;
background-color:#FF4000;
}

.oldMan{
font-style:italic;
text-decoration:bold;
background-color:#ACFA58;
}

.fate{
font-style:italic;
color:yellow;
text-decoration:bold;
background-color:black;
}

.darkSpeech{
font-style:italic;
color:blue;
text-decoration:bold;
background-color:black;
}

a:visited{
color:green;
}

.black{
background-color:black;
}